# Fichiers Python compilés
*.pyc
__pycache__/

# Environnement virtuel (si présent dans votre dossier de projet)
venv/
.venv/
env/

# Base de données locale (SQLite)
*.sqlite3

# Fichiers de configuration de l'éditeur
.vscode/
.idea/

../Frontend/